.headerContainer {
  background-image: url(../../../Photos/TechNext.gif);
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 700px;
}

.headerContainer::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}
.content {
  position: relative;
}

.navbar-Container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 3;
}
