@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.btn-color {
  background-image: linear-gradient(45deg, tomato, crimson);
}
.tomato {
  color: tomato;
}
.text-bold {
  font-weight: bold;
}
.form-control:focus {
  border-color: lightgray !important;

  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lightgray !important;
}
.btn:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px tomato !important;
}
a {
  text-decoration: none;
}

.customModal {
  
 
  width: 50%;
 
 
 
  
}


@media (max-width:991px) {
 .customModal{
   width: 60%;
 }
  
}
@media (max-width:767px) {
.customModal{
  width: 80%;
}
  
}
@media (max-width:575px) {
  .customModal{
    width: 100%;
    margin: 0!important;
  }
    
  }
.row{
  margin-right: 0!important;
    margin-left: 0!important;
}